* {
  margin: 0;
  padding: 0;

}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.heading{
  color: blue;
  padding-left: 50px;
  padding-bottom: 8px;
}

.chart {
  width :720px;
}